@keyframes rotate {
    0% {
      transform: rotate(0deg) scale(1.1, 1.1)
    }
    50% {
      transform: rotate(180deg) scale(1.1, 1.1)
    }
    100% {
      transform: rotate(360deg) scale(1.1, 1.1)
    }
  }

  @keyframes pulse {
      0% {
          box-shadow: 0 0 
      }
  }

.projects {

    &__vs {
        width: 100%;
        padding: 0;
        border-style: solid;
        border-width: 10px;
        border-image: conic-gradient(red, yellow, lime, aqua, blue, magenta, red) 1; 
    }

    &__header {
        text-align: center;
        font-size: 2.5rem;
        font-weight: bold;
        margin-top: 5rem;

        @media screen and (min-width: 768px) {
            font-size: 3rem;
        }
    }

    &__vs-information {
        font-weight: normal;
        font-size: 1rem;
        margin: 1rem 0;
        // padding: 0 2rem;

        @media screen and (min-width: 768px) {
            font-size: 1.5rem;
        }
    }

    &__vs-responsive-container {
        margin-top: 5rem;
    }

    &__sub-header {
        font-size: 2rem;
        margin: 2rem 0 0 0;
        align-self: flex-start;

        @media screen and (min-width: 768px) {
            font-size: 2.5rem;
        }
    }

    &__vs-visualeyes-logo {
        width: 18rem;

        @media screen and (min-width: 768px) {
            width: 30rem;
        }
    }

    &__vs-section {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    &__responsive-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @media screen and (min-width: 768px) {
            flex-direction: row-reverse;
        }
    }

    &--bold-text {
        font-weight: bold;
    }

    &__colour-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        height: 28rem;

        @media screen and (min-width: 768px) {
        height: 18rem;

        }
    }

    &__colour-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 45%;
        margin: 1.2rem 0.25rem;

        @media screen and (min-width: 768px) {
            width: 25%;
        }
    }

    &__colour {
        width: 80%;
        height: 2rem;
        cursor: pointer;
        border-radius: 0.5rem;

        &--C {
            background-color: hsl(30, 100%, 50%);
            transition: all 0.2s ease-in-out;
            
            &:hover {
                box-shadow: 0px 0px 4px 2px hsl(30, 100%, 50%);
                transition: all 0.2s ease-in-out;
            }
        }
        &--Csharp {
            background-color: hsl(60, 100%, 50%);
            transition: all 0.2s ease-in-out;
            &:hover {
                box-shadow: 0px 0px 4px 2px hsl(60, 100%, 50%);
                transition: all 0.2s ease-in-out;
            }
        }
        &--D {
            background-color: hsl(90, 100%, 50%);
            transition: all 0.2s ease-in-out;
            &:hover {
                box-shadow: 0px 0px 4px 2px hsl(90, 100%, 50%);
                transition: all 0.2s ease-in-out;
            }
        }
        &--Dsharp {
            background-color: hsl(120, 100%, 50%);
            transition: all 0.2s ease-in-out;
            &:hover {
                box-shadow: 0px 0px 4px 2px hsl(120, 100%, 50%);
                transition: all 0.2s ease-in-out;
            }
        }
        &--E {
            background-color: hsl(150, 100%, 50%);
            transition: all 0.2s ease-in-out;
            &:hover {
                box-shadow: 0px 0px 4px 2px hsl(150, 100%, 50%);
                transition: all 0.2s ease-in-out;
            }
        }
        &--F {
            background-color: hsl(180, 100%, 50%);
            transition: all 0.2s ease-in-out;
            &:hover {
                box-shadow: 0px 0px 4px 2px hsl(180, 100%, 50%);
                transition: all 0.2s ease-in-out;
            }
        }
        &--Fsharp {
            background-color: hsl(210, 100%, 50%);
            transition: all 0.2s ease-in-out;
            &:hover {
                box-shadow: 0px 0px 4px 2px hsl(210, 100%, 50%);
                transition: all 0.2s ease-in-out;
            }
        }
        &--G {
            background-color: hsl(240, 100%, 50%);
            transition: all 0.2s ease-in-out;
            &:hover {
                box-shadow: 0px 0px 4px 2px hsl(240, 100%, 50%);
                transition: all 0.2s ease-in-out;
            }
        }
        &--Gsharp {
            background-color: hsl(270, 100%, 50%);
            transition: all 0.2s ease-in-out;
            &:hover {
                box-shadow: 0px 0px 4px 2px hsl(270, 100%, 50%);
                transition: all 0.2s ease-in-out;
            }
        }
        &--A {
            background-color: hsl(300, 100%, 50%);
            transition: all 0.2s ease-in-out;
            &:hover {
                box-shadow: 0px 0px 4px 2px hsl(300, 100%, 50%);
                transition: all 0.2s ease-in-out;
            }
        }
        &--Asharp {
            background-color: hsl(330, 100%, 50%);
            transition: all 0.2s ease-in-out;
            &:hover {
                box-shadow: 0px 0px 4px 2px hsl(330, 100%, 50%);
                transition: all 0.2s ease-in-out;
            }
        }
        &--B {
            background-color: hsl(360, 100%, 50%);
            transition: all 0.2s ease-in-out;
            &:hover {
                box-shadow: 0px 0px 4px 2px hsl(360, 100%, 50%);    
                transition: all 0.2s ease-in-out;
            }
        }
    }

    &__logo-link {
        display: flex;
        justify-content: center;
    }

    &__page-link {
        color: inherit;
        font-weight: bold;
    }

    &__colour-note {
        font-weight: bold;
    }

    &__icons {
        margin: 2rem 0;
        display: flex;
        justify-content: center;
    }

    &__icon {
        width: 8rem;
        margin: 0 2rem;
    }

    &__improvements {
        padding: 0;
        margin: 0;

        @media screen and (min-width: 768px) {
            font-size: 1.5rem;
        }
    }

    &__improvement {
        font-weight: bold;
        margin-top: 1rem;
    }

    &__improvements-item {
        padding-left: 1rem;

        @media screen and (min-width: 768px) {
            padding-left: 2rem;
        }
    }

    &__improvement-item {
        padding-top: 1rem;
        font-weight: normal;
    }

    &__container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    &__wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 100vh;
        max-width: 59.375rem;
        min-width: 16rem;
        padding: 4rem 2rem 2rem 2rem;
    }
    
    &__container--audiovisuality {
        background-color: white;
        color: #253259;
    }
    
    &__container--how-it-works {
        background-color: #253259;
        color: #EEEEF0;
    }

    &__container--next {
        background-color: #F2B33D;
        color: #253259;
    }
}