.about-me {
    width: 100%;
    min-width: 20rem;
    color: #253259;


    &__image-box {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__image {
        width: 15rem;
    }

    &__header {
        border-bottom: 5px solid #253259;
    }
}