@keyframes wave {
  0% {
    transform: rotate(0);
  }

  15% {
    transform: rotate(30deg);
  }

  20% {
    transform: rotate(-10deg);
  }

  25% {
    transform: rotate(20deg);
  }

  30% {
    transform: rotate(-10deg);
  }

  35% {
    transform: roate(30deg);
  }

  45% {
    transform: rotate(30deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes wiggle {
  0% {
    transform: rotateZ(-5deg) scale(1.1, 1.1);
  }

  50% {
    transform: rotateZ(5deg) scale(1.1, 1.1);
  }
  100% {
    transform: rotateZ(-5deg) scale(1.1, 1.1);
  }
}

html {
  width: 100vw;
  // background-color: #e5e4f5;

}

.App {
  // background-color: #e5e4f5;
  width: 100%;
  color: #303030;
}

.App-logo {
  pointer-events: none;
}

.App-header {
  background-color: #e5e4f5;
  // border: 1px solid black;
  // position: fixed;
  // width: 100%;
  display: flex;
  // margin-bottom: 2rem;
}

.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  // border-bottom: 1px solid #303030;
  // transition: all 0.5s ease-in-out; 

  @media screen and (min-width: 768px) {
    padding: 1rem 4rem;
    // transition: all 0.5s ease-in-out; 
  }

  &__name {
    display: inline-block;
  }

  &__right-header {
    width: 9rem;
  }

  &__logo {
    text-align: right;
    font-weight: bold;
    cursor: pointer;
  }
  
  &__nav {
    padding: 0;
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: .75rem;
  }
  
  &__nav-link {
    cursor: pointer;
  }
}

.personal {
  display: flex;
  height: calc(100vh - 70px);
  // width: 100%;
  padding: 0 2rem;
  text-align: center;
  margin: 0 auto;
  background-color: #e5e4f5;
  
  @media screen and (min-width: 768px) {
    padding: 0 4rem;
    // transition: all 0.5s ease-in-out; 
  }
  
  &__responsive-container {
    display: flex;
    width: 100%;
    flex-direction: column-reverse;
    max-width: 100rem;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    // height: 80vh;
    // position: relative;


    // border-bottom: 1px solid #303030;
    padding-bottom: 1rem;
    // transition: all 0.5s ease-in-out;
    
    @media screen and (min-width: 768px) {
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
    }

    
    // @media screen and (min-width: 768px) {
    //   height: 290px;
    //   // transition: all 0.5s ease-in-out; 
    // }
  }

  &__hand {
    display: inline-block;
    margin-left: 0.5rem;
    font-size: 6vw;
    animation: wave 5s ease-in-out infinite;
    animation-delay: 3200ms;
    transform-origin: 70% 70%;
    user-select: none;
    -webkit-user-drag: none;

    @media screen and (min-width: 768px) {
      font-size: 4vw;
    }
  }
  
  &__header {
    width: 100%;
    font-size: 7vw;
    font-weight: normal;
    text-align: left;
    position: relative;
    top: -1rem;

    @media screen and (min-width: 768px) {
    width: 60%;
    font-size: 4vw;
    text-align: left;
    }
  }
  
  &__header-line {
    display: inline-block;
  }

  &__header-subline {
    display: inline-block;
    font-size: 5vw;
    transition: all 0.5s linear;

    @media screen and (min-width: 768px) {
      font-size: 3vw;
    }  
  }

  &--bold {
    font-weight: bold;
  }

  &--italic {
    font-style: italic;
  }

  &__images-icons {
    display: flex;
    flex-direction: column;
    width: 100%;
    
    @media screen and (min-width: 768px) {
      width: 30%;
    }
  }

  &__image {
    height: 50vw;
    // max-height: 400px;
    width: 100%;

    @media screen and (min-width: 768px) {
      height: 30vw;
    }
  }

  &__icon {
    margin: 0.5rem;
    height: 1.5625rem;
    cursor: pointer;
    transform: scale(1, 1);
    transition: all 0.2s ease-in-out;
    
    
    &:hover {
      transform: scale(1.25, 1.25);
      transition: transform 0.2s ease-in-out;
    }
  }

  &__information-box {
    margin-top: 2rem;
  }

  &__information {
    text-align: left;
    font-size: 0.75rem;

    @media screen and (min-width: 768px) {
      font-size: 1rem;
      // transition: all 0.5s ease-in-out;
    }

    &:last-child {
      margin-bottom: 2rem;
    }
  }

  &__description {
    text-align: left;
  }

  &__contact-link {
    font-size: 1.125rem;
    color: black;
    margin-top: 1rem;
  }

  &__links {
    display: flex;
    justify-content: center;
  }

  &__position {
    font-size: 5vw;

    @media screen and (min-width: 768px) {
      font-size: 3vw;
    }
  }
}


.creative {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
  text-align: left;
  background-color: #E4F5E5;
  
  @media screen and (min-width: 768px) {
    padding: 0 4rem;
  }
  
  &__responsive-container {
    // background-color: #E4F5E5;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100rem;
    margin: 0 auto;
    // height: 100vh;
  }
  
  &__header {
    font-size: 7vw;
    
    @media screen and (min-width: 768px) {
      font-size: 4vw;
    }
  }
  
  &__information {
    font-size: 1rem;
    @media screen and (min-width: 768px) {
      font-size: 22px;
    }
  }
  
  &__technologies {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }

  &__label {
    display: inline-block;
    font-size: 1.5625rem;
    font-weight: bold;
    margin: 2rem 0;

    @media screen and (min-width: 768px) {
      // width: 50%;
      font-size: 1.5625rem;
    }
  }

  &__tech-category {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__technology-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40vh;
    width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
    // border: 1px solid black;

    @media screen and (min-width: 768px) {
      width: 100%;
    }
  }

  &__icon {
    padding: 1rem;
    height: 7vh;
    width: 7vh;

    &:hover {
      cursor: pointer;
      transform: scale(1.1, 1.1);
      animation: wiggle 0.2s ease-in-out infinite;
    }
  }
}

.projects {
  height: 500px;
  background-color: white;
  box-shadow: inset 0px 2px 5px #AAA;
  padding: 2rem;
  text-align: center;
  // transition: all 0.5s ease-in-out; 

  @media screen and (min-width: 768px) {
    padding: 2rem 4rem;
    // transition: all 0.5s ease-in-out; 
  }

  &__information {
    text-align: left;
    font-size: 0.75rem;
    // transition: all 0.5s ease-in-out;

    @media screen and (min-width: 768px) {
      font-size: 1rem;
      // transition: all 0.5s ease-in-out;
    }
  }

  &__header {
    margin: 0;
    text-align: left;
  }
}