@use './partials/global';
@use './partials/fonts';


@keyframes spiral {
  0% {
    transform: rotateX(0deg)
  }
  100%{
    transform: rotateX(360deg)
  }
}

@keyframes shake {
  0% {
    transform: translateX(0)
  }
  20% {
    transform: translateX(-0.25rem)
  }
  40% {
    transform: translateX(0.25rem)
  }
  60% {
    transform: translateX(-0.25rem)
  }
  80% {
    transform: translateX(0.25rem)
  }
  100% {
    transform: translateX(0)
  }
}


@keyframes wave {
  0% {
    transform: rotate(0);
  }

  15% {
    transform: rotate(30deg);
  }

  20% {
    transform: rotate(-10deg);
  }

  25% {
    transform: rotate(20deg);
  }

  30% {
    transform: rotate(-10deg);
  }

  35% {
    transform: roate(30deg);
  }

  45% {
    transform: rotate(30deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@-webkit-keyframes wave {
  0% {
    transform: rotate(0);
  }

  15% {
    transform: rotate(30deg);
  }

  20% {
    transform: rotate(-10deg);
  }

  25% {
    transform: rotate(20deg);
  }

  30% {
    transform: rotate(-10deg);
  }

  35% {
    transform: roate(30deg);
  }

  45% {
    transform: rotate(30deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes wiggle {
  0% {
    transform: rotateZ(-5deg) scale(1.1, 1.1);
  }

  50% {
    transform: rotateZ(5deg) scale(1.1, 1.1);
  }
  100% {
    transform: rotateZ(-5deg) scale(1.1, 1.1);
  }
}

@keyframes expand {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 2rem;
  top: 1.75rem;
  z-index: 998;

  @media screen and (min-width: 768px) {
    right: 2rem;
  }
}

.bm-burger-bars {
  background: #EEEEF0;
  border: 1px solid black;
  border-radius: 3px;
}

.bm-cross-button {
  height: 2rem;
  width: 2rem;
  z-index: 1600;
  margin-top: -2rem;
}

.bm-cross {
  background: #bdc3c7;
}

.bm-menu {
  background: #303030;
  z-index: 10;
  padding: 1rem 1.5rem 0;
  font-size: 1.15em;
  position: relative;
  top: -2.7rem;
}

.bm-item-list {
  width: 50%;
}

.bm-overlay {
  display: none;
}

.header {
  display: flex;
  position: fixed;
  width: 100%;
  min-width: 16rem;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  z-index: 1500;

  @media screen and (min-width: 768px) {
    padding: 1rem 4rem;
  }

  &__name {
    display: inline-block;
  }
  
  &__right-header {
    width: 16rem;
  }
  
  &__logo {
    width: 17rem;
    max-width: 10rem;
    position: relative;
    right: 5rem;
    font-size: 1.5rem;
    text-align: right;
    font-weight: 900;
    line-height: 80%;
    letter-spacing: -2px;
    background-color: rgba(48, 48, 48, 0.4);
    border-radius: 1rem;
    padding: 0.5rem;
    cursor: pointer;
  }

  &__logo-link {
    text-decoration: none;
    color: #EEEEF0;
  }
  
  &__nav {
    padding: 0;
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: .875rem;
  }
  
  &__nav-link {
    cursor: pointer;
    text-decoration: none;
    color: #EEEEF0;

    &:hover, &:focus {
      text-decoration: underline;
    }
  }
}

.personal {
  display: flex;
  height: 100vh;
  max-height: 67.5rem;
  min-height: 31.25rem;
  padding: 0 2rem;
  justify-content: flex-start;
  margin: 0 auto;
  background-color: #253259;
  color: #EEEEF0;
  min-width: 16rem;
  scroll-snap-align: center;
  
  @media screen and (min-width: 768px) {
    padding: 0 4rem;
  }
  
  &__horizontal-line {
  animation: expand 1s ease-in forwards;
  animation-delay: 0.5s;
  width: 0%;
  max-width: 20rem;
  border: 1px solid #F2B33D;
  margin: 1rem 100% 0 0;

  @media screen and (min-width: 768px) {
    max-width: 33rem;
    margin: 1rem 100% 1rem 0;
  }

  &--skills-section {
    border: 3px solid #253259; 
    margin: 0 auto;
    max-width: 100%;
    width: 100%;

    @media screen and (min-width: 768px) {
      max-width: 42.5rem
    }
    }
  }

  &__responsive-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 59.375rem;
    margin: 4rem auto;
    padding-bottom: 1rem;
  }

  &__image-text {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    @media screen and (min-width: 768px) {
      flex-direction: row;
    }
  }
  
  &__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-weight: normal;
    position: relative;
  }
  
  &__header-line {
    display: inline-block;
    font-weight: 800;
    line-height: 80%;
    letter-spacing: -1px;
    line-height: 1.1;
    font-size: 2.25rem;
    text-align: left;
    padding-bottom: 1rem;

    @media screen and (min-width: 768px) {
      width: 100%;
      font-size: 3.75rem;
      padding-bottom: 0;
      }
  }

  &--bold {
    font-weight: bold;
  }

  &--italic {
    font-style: italic;
  }

  &__images-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    
    @media screen and (min-width: 768px) {
      width: 30%;
    }
  }

  &__image {
    position: relative;
    border-radius: 50% 50%;
    height: 15rem;

    @media screen and (min-width: 768px) {
      margin-right: 2rem;
      height: 16rem;
    }

    @media screen and (min-width: 1280px) {
      height: 18rem;
    }
  }

  &__information-box {
    margin-top: 2rem;
  }

  &__information {
    text-align: left;
    font-size: 1rem;

    &:last-child {
      margin-bottom: 2rem;
    }
  }


  &__position {
    font-weight: 400;
    font-size: 1rem;
    width: 100%;
    max-width: 18.75rem;
    color: #F2B33D;
    position: relative;
    left: -0.35rem;
    
    @media screen and (min-width: 768px) {
      align-self: flex-start;
      width: 35rem;
      max-width: 100%;
      font-size: 1.25rem;
      left: 0;
    }
  }
}

.about {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
  text-align: left;
  color: #F2B33D;
  background-color: #253259;
  min-width: 16rem;
  scroll-snap-align: center;
  
  @media screen and (min-width: 768px) {
    padding: 0 4rem;
  }

  &__header {
    font-size: 3rem;
    text-align: center;
    margin: 5rem 0 3rem 0;
  }

  &__label {
    margin-bottom: 1rem;
    font-size: 2rem;
    text-decoration: underline;

    @media screen and (min-width: 768px) {
      font-size: 3rem;
    }
  }
  
  &__responsive-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    max-width: 59.375rem;
    margin: 0 auto;
    margin-bottom: 5rem;
  }

  &__brainstation-graduate {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 1rem;

  }
  &__brainstation {
    height: 2rem;

    @media screen and (min-width: 768px) {
      height: 3rem;
    }
  }

  &__link {
    color: inherit;
  }

  &__text-container {
    border-radius: 1rem;
    margin: 2rem 0 1rem 0;
  }

  &__information {
    margin-top: 2rem;
    font-size: 1rem;
    color: #EEEEF0;

    @media screen and (min-width: 768px) {
      font-size: 1.125rem;
    }
  }
  
  &__graduate-label {
    font-size: 1.5rem;
    font-weight: bold;
    display: inline-block;
    text-decoration: underline;

    @media screen and (min-width: 768px) {
      font-size: 2rem;
    }
  }

  &__competencies {
    font-size: 1.2rem;
    align-self: flex-end;
    font-weight: bold;

    @media screen and (min-width: 768px) {
      font-size: 1.625rem;
    }
  }

  &__links {
    display: flex;
    align-items: center;
  }
}

.skills {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: space-evenly;
  padding: 0 2rem 2rem 2rem;
  text-align: left;
  background-color: #EEEEF0;
  min-width: 16rem;
  margin: 0 auto;
  border-bottom: 1px solid #CCC;
  
  @media screen and (min-width: 768px) {
    padding: 2rem 4rem 2rem 4rem;
  }
  
  &__header {
    text-align: center;
    font-size: 3rem;
    color: #253259;
    margin: 3rem 0 0 0;
  
  }

  &__sub-header {
    width: 100%;
    margin: 2rem auto;
    color: #253259;
    text-align: center;
    font-size: 1.125rem;
    font-weight: 400;

    @media screen and (min-width: 768px) {
      margin: 2rem auto;
      max-width: 42.5rem;
    }
  }

  &__link {
    // text-decoration: none;
    color: #253259;
  }

  &__icon-label {
    margin-bottom: 0.5rem;
    transition: all 0.2s ease-in-out;
    color: #253259;
    font-size: .75rem;
    text-align: center;
    padding: 0.5rem;
    margin: 0;

    @media screen and (min-width: 768px) {
      font-size: .875rem;
      transition: all 0.2s ease-in-out;
    }
  }

  &__icon-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 6rem;
    height: 6.5rem;
    cursor: pointer;
    border-radius: 1rem;
    border: 1px solid #CCC;
    transition: all 0.1s ease-in-out;

    @media screen and (min-width: 768px) {
      width: 7rem;
      height: 8rem;
    }

    &:hover {
      box-shadow: 0px 0px 8px #ccc;
      transition: all 0.2s ease-in-out;

      .skills__icon-label {
        opacity: 1;
        transform: translateY(0) scale(1, 1);
        transition: all 0.1s ease-in-out;
      }

      .skills__icon {
        animation: wiggle 0.2s ease-in-out infinite;
        transition: all 0.1s ease-in-out;
      }
    }

  }
  
  &__information {
    font-size: .75rem;
    margin-bottom: 2rem;

    @media screen and (min-width: 768px) {
      font-size: 1rem;
    }
  }
  
  &__technologies {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    @media screen and (min-width: 768px) {
      height: auto;
    }
  }

  &__label {
    text-decoration: underline;
    text-align: center;
    display: inline-block;
    font-size: 1.3125rem;
    font-weight: bold;
    margin: 2rem 0 4rem 0;
    color: #253259;

    @media screen and (min-width: 768px) {
      font-size: 2rem;
    }
  }

  &__tech-category {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
  }

  &__technology-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 59rem;
    height: 50rem;
    max-height: 25rem;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    transition: all 0.1s ease-in-out;
    
    @media screen and (min-width: 768px) {
      transition: all 0.1s ease-in-out;
      max-height: 30rem;
    }
  }

  &__icon {
    padding: 0.5rem;
    padding-top: 0;
    height: 4rem;
    width: 4rem;
    cursor: pointer;
    flex-grow: 1;
    transition: all 0.2s ease-in-out;
    
    &:hover, &:focus {
      animation: wiggle 0.2s ease-in-out infinite;
    }
    
    @media screen and (min-width: 768px) {
      padding: 1rem;
      height: 6rem; 
      width: 6rem;
      transition: all 0.2s ease-in-out;
    }
  }
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 2rem;
  text-align: left;
  background-color: white;
  min-width: 16rem;
  margin: 0 auto;

  &__responsive-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 100rem;
    margin: 0 auto;
  }

  @media screen and (min-width: 768px) {
    padding: 0 4rem;
  }

  &__brainstation {
    height: 4rem;
  }

  &__name {
    width: 5rem;

    @media screen and (min-width: 768px) {
      width: 8rem;
    }
  }

  &__equation {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 5.5rem;
  }
  
  &__multiply {
    font-weight: 800;
    font-size: 1.5rem;
    margin: 0 0.5rem;
  }

  &__header {
    color: #253259;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 800;
    margin: 3rem 0 1rem 0;

    @media screen and (min-width: 768px) {
        font-size: 3rem;
    }
}

  &__visualeyes-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #EEEEF0;
    box-shadow: 0px 4px 0.5rem #EEEEF0;
    border-radius: 1rem;
    padding: 0 1rem 1rem 1rem;
    margin-bottom: 4rem;
    position: relative;
    width: calc(100vw - 4rem);
    transition: border-image 0.2s ease-in-out;
    background: linear-gradient(90deg, rgb(238, 238, 238) 0%, rgb(255, 255, 255) 20%, rgb(255, 255, 255) 80%, rgb(238, 238, 238) 100%);

    @media screen and (min-width: 768px) {
      padding: 1rem;
      flex-direction: row;
      max-width: 87.5rem;
    }

    }

  &__visualeyes-logo {
    width: 18rem;
    align-self: center;
    position: relative;
    left: 5px;
  }

  &__visualeyes-icon-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(100vw - 4rem);
    background-color: white;
    margin-bottom: 1rem;
    border: 1px solid #EEEEF0;
    border-radius: 1rem 1rem 0 0;
    
    @media screen and (min-width: 768px) {
      width: 15rem;
      box-shadow: 0px 0px 8px #CCC;
      border-radius: 1rem;
      margin-right: 1rem;
    }
  }

  &__visualeyes-description-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    @media screen and (min-width: 768px) {
      width: 70%;
    }
  }

  &__information {
    font-size: 1rem;
    text-align: center;
    margin: 1rem 0;
    color: #253259;
    max-width: 23.125rem;

    @media screen and (min-width: 768px) {
      font-size: 1.125rem;
      max-width: 100%;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: calc(100vw - 4rem);
    box-shadow: 0px 4px 0.5rem #EEEEF0;
    padding: 0 1rem 1rem 1rem;
    border-radius: 1rem;
    margin: 1rem;
    background: linear-gradient(90deg, rgb(238, 238, 238) 0%, rgb(255, 255, 255) 20%, rgb(255, 255, 255) 80%, rgb(238, 238, 238) 100%);
    transition: box-shadow 0.2s ease-in-out;
    margin-bottom: 2rem;
    border-bottom: 1px solid #EEEEF0;
    border: 1px solid #EEEEF0;
    
    
    @media screen and (min-width: 768px) {
      height: 18.75rem;
      max-width: 87.5rem;
      padding: 1rem;
      flex-direction: row;
      align-items: stretch;
    }
  }

  &__bmo-icon-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;

    @media screen and (min-width: 768px) {
      margin-right: 1rem;
      width: 15rem;
    }
  }

  &__bmo-image {
    object-fit: cover;
    width: calc(100vw - 4rem);
    height: 100%;
    max-height: 16rem;
    border-radius: 1rem 1rem 0 0;
    border: 1px solid #EEEEF0;
    
    @media screen and (min-width: 768px) {
      border-radius: 1rem;
      box-shadow: 0px 0px 8px #CCC;
      width: 100%;
    }
  }

  &__image {
    object-fit: cover;
    width: calc(100vw - 4rem);
    height: 100%;
    max-height: 16rem;
    border-radius: 1rem 1rem 0 0;
    border: 1px solid #EEEEF0;

    &--quantipomo {
      object-position: 55% 50%;
    }
    
    @media screen and (min-width: 768px) {
      border-radius: 1rem;
      box-shadow: 0px 0px 8px #CCC;
      width: 100%;
    }

  }

  &__image--quantipomo {
    object-fit: cover;
    width:100%;
    height: 100%;
    border-radius: 1rem 1rem 0 0;
    border: 1px solid #EEEEF0;

    @media screen and (min-width: 768px) {
      border-radius: 1rem;
      box-shadow: 0px 0px 8px #CCC;
      width: 100%;
    }
  }

  &__bmo-logo {
    width: 10rem;
    position: relative; 
    top: -0.2rem;
  }

  &__bmo-description-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    @media screen and (min-width: 768px) {
      width: 70%;
    }
  }


  &__project-banner {
    padding: 1rem;
    width: 100%;
    max-width: 20rem;
    border-radius: 1rem;
    text-align: center;
    
    &--bandsite {
      background-color: #323232;
    }
    
    &--quantipomo {
      background-color: #3098BB;
    }
  }

  &__quantipomo-logo {
    width: 15rem;
  }

  &__links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }

  &__project-count {
    font-size: .75rem;
    font-weight: bold;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 18rem;
    height: 3rem;
    margin:  0.5rem;
    border-radius: 2rem;
    font-size: 1rem;
    text-decoration: none;
    font-weight: 400;
    border: 1px solid #EEEEF0;
    background: linear-gradient(90deg, rgb(238, 238, 238) 0%, rgb(255, 255, 255) 20%, rgb(255, 255, 255) 80%, rgb(238, 238, 238) 100%);
    color: #253259;
    
    &:hover {
      background: #EEEEF0;
    }
    
    @media screen and (min-width: 768px) {
      font-size: 1.125rem;
      width: 10rem;
    }
  }
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 3rem);
  max-height: 67.5rem; 
  min-height: 67.5rem;
  background-color: #253259;
  color: #EEEEF0;
  padding: 0 2rem;

  &__responsive-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    height: 100%;
  }

  &__message {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #253259;
    font-weight: bold;
    width: 18.75rem;
  }

  &__text-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    max-width: 46.875rem;
  }

  &__cta {
    font-size: 3rem;
    margin: 5rem 0 2rem 0;
 
    @media screen and (min-width: 768px) {
      font-size: 4rem;
    }
  }

  &__information {
    text-align: center;
    font-size: 1rem;
    margin-bottom: 1rem;

    @media screen and (min-width: 768px) {
      font-size: 1.25rem;
    }
  }

  &__react {
    height: 1.5rem;
    margin: 0 0.5rem;
  }

  &__text-input {
    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid #EEEEF0;
    margin: 1rem 0;
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    border-top: 1rem solid #253259;
    height: 100%;

    @media screen and (min-width: 768px) {
      margin-left: 2rem;
      border-top: 0;
      border-left: 1rem solid #253259;
    }
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.5rem;
    cursor: pointer;
    background-color: white;
    border-radius: 1rem;
    border: 0;
    transition: all 0.1s ease-in-out;

    &:hover {
      transform: scale(1.2, 1.2);
      transition: all 0.1s ease-in-out;
    }
  }

  &__links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 3rem;
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  &__input {
    border-radius: 1rem;
    border: 0px;
    width: 100%;
    height: 2.5rem;
    padding: 1rem;

    @media screen and (min-width: 768px) {
      width: 100%;
    }
  }

  &__label {
    align-self: flex-start;
    padding: 0.5rem 0;
  }

  &__input-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;

    @media screen and (min-width: 768px) {
      width: 100%;
    }
  }

  &__message-input {
    height: 8rem;
    resize: none;
  }

  &__link, &__button {
    color: white;
    text-decoration: none;
    width: 100%;
    min-width: 9.375rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F2B33D;
    color: #253259;
    font-weight: bold;
    border-radius: 1rem;
    margin: 1rem 0;
    border: 0;
    font-size: 1rem;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      background-color: #EC9F10;
    }

    @media screen and (min-width: 768px) {
      width: 10rem;
      height: 3rem;
    }

    &--fail {
      animation: shake 0.4s ease-in-out;
    }
  }

  &__submit-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__loading {
    height: 2rem;
    display: inline;
    position: relative;
    animation: spiral 1s linear infinite;
    pointer-events: none;
  }

  &__loading--false {
    opacity: 0;
    transform: translateY(1rem);
    transition: all 0.2s ease-in-out;
  }
  
  &__loading--true {
    opacity: 1;
    transform: translateY(0);
    transition: all 0.2s ease-in-out;
  }

  &__confirmation {
    text-align: center;
    opacity: 0;
    transition: all 1s ease-in-out;
    transform: translateY(0rem);
    pointer-events: none;
    
    &--true {
      opacity: 1;
      transform: translateY(-1.55rem);
      transition: all 1s ease-in-out;
    }
    
    &--false {
      opacity: 0;
      transition: all 1s ease-in-out;
    }
  }

  &__error {
    opacity: 0;
    text-align: center;
    transform: translateY(0rem);
    transition: all 1s ease-in-out;
    pointer-events: none;
    
    &--fail {
      transform: translateY(-1rem);
      opacity: 1;
      transition: all 1s ease-in-out;
    }

  }

  &__footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 100%;
    background-color: #F2B33D;
  }

  &__socials {
    position: absolute;
    right: 2rem;
    display: flex;
    justify-self: flex-end;
  }

  &__social-link {
    text-decoration: none;
    color: #253259;
    margin: 0 0.5rem;
    &:hover {
      text-decoration: underline;
    }
  }
}

.red-bolded {
  margin: 1rem 0;
  color: red;
  font-weight: bold;
}